{{ "custom-selfdetails-section.css" | asset_url | stylesheet_tag }}

  <div class="container">
    <div class="image">
      <img src="{{ section.settings.self_Image | image_url }}" />
   </div>
    <div class="text">
      <p id="para">{{ section.settings.description }}</p>
    </div>
  </div>

{% schema %}
  {
    "name": "Self Details Section",
    "settings": [
      {
        "type":"image_picker",
        "id":"self_Image",
        "label":"Your Image"
      },
      {
        "type":"richtext",
        "id":"description",
        "default":"<p>About Your Self here</p>",
        "label":"Description"
      }
    ], 
    "presets":[
      {
        "name":"Self Details Section"
      }
    ]
  }
{% endschema %}
