<div>
{{ section.settings.title }}
  
</div>
{% schema %}
{
  "name": "Custom Liquid",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type":"text",
      "id":"title",
      "label":"Title"
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}
